
@{
    ViewData["Title"] = "Result";
}


<main class="container" style="height:70vh;display:flex;align-items:center;justify-content:center;">
    <span class="text-success" style="font-size:3em;">
        We will send you information
    </span>
</main>