@model UserDto
<div id="userbox" class="userbox">
    <a href="#" data-toggle="dropdown">
        <figure class="profile-picture">
            <img src="~/img/!logged-user.jpg" alt="@Model.Name" class="rounded-circle" data-lock-picture="~/img/!logged-user.jpg" />
        </figure>
        <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@okler.com">
            <span class="name">@Model.Name</span>
            <span class="role">@Model.Role</span>
        </div>

        <i class="fa custom-caret"></i>
    </a>

    <div class="dropdown-menu">
        <ul class="list-unstyled mb-2">
            <li class="divider"></li>
            <li>
                <a role="menuitem" tabindex="-1" asp-action="edit" asp-controller="account" asp-route-id="@Model.Id"><i class="fa fa-user"></i> My Profile</a>
            </li>
            <li>
                <a role="menuitem" tabindex="-1" asp-action="logout" asp-controller="account"><i class="fa fa-power-off"></i> Logout</a>
            </li>
        </ul>
    </div>
</div>